.album-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: none;
    font-family: 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.album-card:hover {
  transform: scale(1.02);
}
.album-card img {
  width: 100%;
  border-radius: 8px;
}

.album-card h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.25rem 0;
}

.album-card p {
  font-size: 0.95rem;
  margin: 0.15rem 0;
  color: #333;
}
  