.album-header-section {
  position: relative;
  background: rgb(26, 20, 20);
  overflow: hidden;
  height: 650px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  box-sizing: border-box;
}

.album-banner-bg {
  position: relative;
  height: 750px;
  overflow: hidden;
}

.album-banner-bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(0.5);
  display: block;
  margin-top: -200px;
}

.album-header-content {
  position: relative;
  margin-top: -45%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 2%;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent 100%);
  z-index: 1;
  border-radius: 10px;
}

.album-left {
  display: flex;
  gap: 1.5rem;
  flex: 1;
}

.album-art {
  width: 300px;
  border-radius: 10px;
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.album-meta {
  color: white;
  margin-top: 5%;
}

.album-artist {
  font-weight: bold;
  margin-top: 5%;
}

.album-ratings {
  min-width: 200px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
  text-align: center;
}

.album-ratings .label {
  font-size: 0.85rem;
  color: white;
}

.album-ratings .value {
  font-size: 1.25rem;
  font-weight: bold;
}