.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #141414;
    color: white;
    font-family: 'Edo SZ', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #888;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .navbar-left .icon {
    font-size: 1.2rem;
    color: white;
  }
  
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    gap: 1rem;
    align-items: right;
    font-size: smaller;
  }
  
  .navbar-right a {
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    letter-spacing: 1px;
  }
  
  .navbar-right .icon {
    font-size: 1rem;
  }
  