/* Profile.css */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}


/* .reviews-list {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
} */
.review-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
